<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Maintenance Mode</title>
</head>
<body>
{{> header}}
<p>We're in maintenance mode, we'll be right back</p>
{{> footer}}
</body>
</html>